/* estilizando os botões */

.btn {
  background-color: var(--pink);
  cursor: pointer;
  border: none;
  border-radius: 12px;
  color: var(--lightgrey);
  font-size: 16px;
}
.btn a {
  text-decoration: none;
  padding: 10px 65px;
  font-size: 16px;
}
.contactButton {
  background-color: var(--pink);
  border: none;
  border-radius: 50%;
  padding: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
}

.contactButton a {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 0;
}
.contactButton:hover {
  background-color: #7c1433;
}

.btn:hover {
  background-color: #7c1433;
}

#button01 {
  white-space: nowrap;
  margin-top: 10px;
  width: 220px;
  height: 40px;
}

#button02 {
  width: 140px;
  height: 40px;
  margin-top: 10px;
  align-self: flex-end;
}

#gitButton {
  width: 65px;
  height: 32px;
}

#gitButton a {
  padding: 0;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
