main {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 120px;
  margin-top: 70px;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  width: 480px;
  height: 480px;
}

#hiTitle {
  color: var(--lightpink);
  font-family: "Dancing Script", cursive;
  font-size: 32px;
}

.profile-img {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 0 0 50px 20px rgba(172, 39, 79, 0.7);
}

@media (max-width: 768px) {
  main {
    flex-direction: column-reverse;
    gap: 40px;
    margin-top: 40px;
    align-items: center;
  }

  .content {
    width: 90%;
    height: auto;
  }

  .profile-img {
    width: 150px;
    height: 150px;
    box-shadow: 0 0 30px 15px rgba(172, 39, 79, 0.7);
  }
  
  #button01 {
    align-self: center;
  }
}
